.auth__signUp {
    display: flex;
    flex-direction: column;
}
.auth__error {
    color: #ff00ff;
    text-align: center;
    margin: 10px 10px 20px;
}
.auth__title {
    font-family: 'Luckiest Guy', cursive;
    font-weight: normal;
    text-align: center;
}
.auth__progress {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.auth__text {
    color: rgb(6, 153, 211);
    text-align: center;
    cursor: pointer;
}