.MuiGrid-grid-xs-6 .MuiFormControl-root.MuiTextField-root.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 100%;
}
.css-g1d714-ValueContainer {
    cursor: text;
}
.css-tlfecz-indicatorContainer,
.css-1hb7zxy-IndicatorsContainer,
.css-26l3qy-menu {
    cursor: pointer;
}
.css-1rhbuit-multiValue {
    background-color: #7592fd !important;
}